<button type="button" class="btn btn-dark" (click)="getChatHistory()">
  Button
</button>
<div class="container-fluid">
  <div class="row" *ngIf="isNotOnline">
      <div class="col-md-offset-4">
          <form class="form-inline">
              <div class="form-group">
                  <label class="sr-only" for="inputNickName">NickName</label>
                  <div class="input-group">
                      <div class="input-group-prepend">
                          <div class="input-group-text">昵称:</div>
                      </div>
                      <input type="text" class="form-control" id="inputNickName" [(ngModel)]="nickName" name="NickName" placeholder="NickName">                        {{nickName}}                        
                  </div>
              </div>
              <button type="button" class="btn btn-primary" (click)="Login()">进入聊天室</button>
          </form>
      </div>
      <div class="row">
          <div id="Error">
          </div>
      </div>
      <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-10">
          </div>
      </div>
  </div>