<div class="container" style="height:80%">
    <div class="row">
        <div class="col-md-4 border">
            <ul class="list-unstyled">
                <li>a</li>
                <li>b</li>
                <li>c</li>
            </ul>
        </div>
        <div class="col-md-8 border">
            <div *ngIf="isNotOnline">
                <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="inputNickName">NickName</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">昵称:</div>
                            </div>
                            <input type="text" class="form-control" id="inputNickName" [(ngModel)]="nickName" name="NickName" placeholder="NickName">
                        </div>
                        <select class="form-control" [(ngModel)]="selectedValue" (change)="roomSelected()" name="room">
                            <option *ngFor="let room of rooms" value="{{room.url}}">{{room.name}}</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-primary" (click)="login()">login</button>
                </form>
            </div>

            <div class="card">
                <div class="card-body messageContainer messageListScroll">
                    <small class="text-muted">
                        <!--<ul *ngFor="let item of items">

                        </ul>>-->

                        <!--<ul *ngIf="messagesObservable | async as messages else empty">
                        <ul *ngIf="messagesObservable | async as messages else empty"></ul>
                            <li *ngFor="let message of messages">
                                {{message.accountName}}:{{message.updateTime|date:'yyyy/MM/dd HH:mm:ss'}}
                            {{message|json}}
                            </li> 
                          </ul>-->
                        <ul>
                            <li *ngFor="let message of messagesObservable">
                                {{message.accountName}}:{{message.updateTime|date:'yyyy/MM/dd HH:mm:ss'}} {{message|json}}
                            </li>
                        </ul>
                    </small>
                </div>
                <div class="input-group">
                    <textarea type="text" class="form-control flex-wrap." placeholder="Input Message"></textarea>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Send</button>
                        <button class="btn btn-outline-secondary" type="button">Exit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" hidden>
        <div class="row" *ngIf="isNotOnline">
            <div class="col-md-offset-4">
                <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="inputNickName">NickName</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">昵称:</div>
                            </div>
                            <input type="text" class="form-control" id="inputNickName" [(ngModel)]="nickName" name="NickName" placeholder="NickName"> {{nickName}}
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" (click)="Login()">login</button>
                </form>
            </div>
        </div>
    </div>